<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sketchmap</title>
    {{ bokeh_css }}
    {{ bokeh_js }}
    {%- for file in js_files %}
    <script type="text/javascript" src="{{ file }}"></script>
    {%- endfor %}
    {% block javascript %}
    <script type="text/javascript">
        {% include "myjsmol.js" %}
    </script>
    <script type="text/javascript">
        {% include "slider-jsmol.js" %}
    </script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
    <!-- The contents of myscript.js will be loaded inside the script tag -->
    {% endblock %}
<!--    <style>
      {% include 'theme.css' %}
    </style>
-->
  </head>
  <body>
    <div class="content">
      <h1>Sketchmap</h1>
      {{ plot_div|indent(8) }}
    </div>
    {{ plot_script|indent(8) }}
    <div id="appdiv" style="position:absolute; top:400px; left:500px;">
    Mouse Selection 
    </div>
    <div id="jsmoldiv" style="position:absolute; top:400px; left:800px;"></div>
  </body>
</html>
